<Blazorise.ThemeProvider Theme="@theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(becore.Layouts.MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <p>Sorry, there's nothing at this address.</p>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#5C95FF",
                Secondary = "#788475",
                Success = "#63C132",
                Info = "#9BD8FE",
                Warning = "#F9CB40",
                Danger = "#FF715B",
                Light = "#FFFFFC",
                Dark = "#272727",
            },
            BackgroundOptions = new()
            {
                Primary = "#5C95FF",
                Secondary = "#788475",
                Success = "#63C132",
                Info = "#9BD8FE",
                Warning = "#F9CB40",
                Danger = "#FF715B",
                Light = "#FFFFFC",
                Dark = "#272727",
            },
            InputOptions = new()
            {
                CheckColor = "#5C95FF",
            }
        };
}