@page "/content"
@using System.Text

<Container Fluid>
    <Row Margin="Margin.Is3">
        <Column Padding="Padding.Is4" ColumnSize="ColumnSize.Is10.Is1.WithOffset" Background="Background.Primary" Border="Border.Rounded" Shadow="Shadow.Default">
            <Row>
                <Column ColumnSize="ColumnSize.Is8" Padding="Padding.Is5">
                    <Carousel>
                        <CarouselSlide Name="1">
                            <Image Source="\img\jpg\ratio-pref-16-9.png" Border="Border.Rounded"></Image>
                        </CarouselSlide>
                        <CarouselSlide Name="2">
                            <Image Source="\img\jpg\ratio-pref-16-9.png" Border="Border.Rounded"></Image>
                        </CarouselSlide>
                    </Carousel>
                </Column>
                <Column ColumnSize="ColumnSize.Is4" Padding="Padding.Is2" Flex="Flex.JustifyContent.Center.Column">
                    <Div Background="Background.Secondary" Border="Border.Rounded" Padding="Padding.Is3" Height="Height.Is100" Width="Width.Is100">
                        <Row>
                            <Column>
                                <Div>
                                    <Image Source="\img\jpg\ratio-pref-16-9.png" Border="Border.Rounded"></Image>
                                </Div>
                            </Column>
                        </Row>
                        <Row>
                            <Column>
                                <Div>
                                    <Text TextSize="TextSize.Heading2">Header</Text>
                                </Div>
                                <Div Flex="Flex.Column">
                                    <Text>Descriptions</Text>
                                    <Text>Descriptions</Text>
                                    <Text>Descriptions</Text>
                                    <Text>Descriptions</Text>
                                </Div>
                            </Column>
                        </Row>
                    </Div>
                </Column>
            </Row>
        </Column>
    </Row>
    <Row Margin="Margin.Is3">
        <Column Padding="Padding.Is4" Background="Background.Primary" Border="Border.Rounded" Shadow="Shadow.Default" ColumnSize="ColumnSize.Is10.Is1.WithOffset">
            <Row>
                <Column ColumnSize="ColumnSize.Is12" Padding="Padding.Is2">
                    <Div>
                        <Button Color="Color.Primary" Shadow="Shadow.Default">Description</Button>
                        <Button Color="Color.Primary" Shadow="Shadow.Default">Download</Button>
                    </Div>
                </Column>
            </Row>
        </Column>
    </Row>
    <Row Margin="Margin.Is3">
        <Column Padding="Padding.Is4" Background="Background.Primary" Border="Border.Rounded" Shadow="Shadow.Default" ColumnSize="ColumnSize.Is10.Is1.WithOffset">
            <Row>
                <Column ColumnSize="ColumnSize.Is8" Padding="Padding.Is2">
                    <Div Padding="Padding.Is4" Class="text-break" TextSize="TextSize.Medium">
                        <Text>@GetText2001()</Text>
                    </Div>
                </Column>
                <Column ColumnSize="ColumnSize.Is4" Padding="Padding.Is2">
                    <Div Border="Border.Rounded" Background="Background.Secondary" Padding="Padding.Is4">
                        author
                    </Div>
                </Column>
            </Row>
        </Column>
    </Row>
</Container>

@code {
    private string GetText2001()
    {
        StringBuilder bulder = new();
        for(int i = 0; i < 2001;i++)
        {
            bulder.Append("t");
        }
        return bulder.ToString();
    }
}
